{% if not head.ajax %}{% set baseTemplate = 'base.html.twig' %}{% else %}{% set baseTemplate = 'ajaxBase.html.twig' %}{% endif %}{% extends baseTemplate %}

{% block content %}
<section class="content-global">

    <header class="content-header header-node header-node-add">
    	<h1 class="content-title">{% trans %}edit.a.news{% endtrans %}</h1>
        {% include 'admin/navBack.html.twig' %}
        <nav class="tag-translation-bar translation-bar uk-navbar">
            {% spaceless %}
        	<ul class="uk-navbar-nav">
        		{% for translation in available_translations %}
        		    <li class="{% if current.id == translation.id %}uk-active{% endif %}">
        		    	<a href="{{ path('newsAdminEditTranslatedPage', { newsId: news.id, translationId:translation.id }) }}">{{ translation.getLocale }}</a>
        		    </li>
        		{% endfor %}
        	</ul>
            {% endspaceless %}
        </nav>
    </header>

    <article class="content content-no-action-menu">
    	{% form_theme form 'forms.html.twig' %}
    	<form class="uk-form uk-form-stacked" action="#" method="post" {{ form_enctype(form) }}>
    	    {{ form_widget(form) }}
            {% spaceless %}
            <button class="uk-button uk-button-primary" type="submit">
                <i class="uk-icon-plus"></i> {% trans %}edit.a.news{% endtrans %}
            </button>
            {% endspaceless %}
    	</form>
    </article>

</section>
{% endblock %}
